<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TMTConnection" connectionString="Data Source=RENAS;Initial Catalog=AvaloniaAppBooking;Integrated Security=True" />
		<!-- connectionString="Server=sql.itcn.dk\TCAA;Database=rena0551.SKOLE;User ID=Rena0551.SKOLE;Password=********;MultipleActiveResultSets=True" -->
	</connectionStrings>
</configuration>